$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$background-color: #EAEAEA;
$paragraph-color: #353535;
$alternative-background: #F6F6F6;
$background-button: linear-gradient(180deg, $secondary-color 0%, $primary-color 100%);
$softshadowing: 0 0 8px 0 rgba(0,0,0,0.2);
$middleshadowing: 1px 10px 18px 0px rgba(0,0,0,0.25);

html 
{
  scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
    margin: auto;
    background: $background-color;
}
header 
{
    width: 100%;
    background: white;
    box-shadow: $softshadowing;
}
.topNav
{
    display: flex;
    justify-content: center;
    padding: 25px 0 10px 0;
}
.location
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 1000;
    font-size: 20px;
    color: $paragraph-color;
}
.location i
{
    margin-right: 8px;
}
.exploration
{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $alternative-background;
    padding: 50px 0;
}
.container
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.container h1
{
    font-family: 'Roboto';
    font-weight: 1000;
    color: black;
    margin-top: 0;
    padding: 0 25px;
}
.container p
{
    margin-top: 0;
    color: $paragraph-color;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 1000;
}
.container button
{
    width: 70%;
    border-radius: 25px;
    border: none;
    background: $background-button;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16px;
    box-shadow: $middleshadowing;
    padding: 17px 5px;
    letter-spacing: 1px;
    margin-top: 10px;
}
.fonctionnement
{
    width: 100%;
    margin-top: 0;
    background: white;
    display: flex;
    justify-content: center;
}
.container-fonct
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 0;
    padding: 0 0 70px 0;
}
.container-fonct h1
{
    font-size: 25px;
    font-weight: 900;
    font-family: 'Roboto';
    padding: 15px 0;
}
.fonct-btn
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.fonct-btn:nth-child(3)
{
    margin-top: 20px;
}
.fonct-btn:nth-child(4)
{
    margin-top: 20px;
}
.fonct-btn a
{
    position: absolute;
    top: 32%;
    left: 0%;
    color: white;
    background-color: $primary-color;
    border-radius: 50%;
    padding: 5px 10px;
    font-family: 'Roboto';
    font-weight: bold
}
.fonct-btn button
{
    width: 93%;
    border: none;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 20px;
    border-radius: 25px;
    height: 75px;
    color: black;
    box-shadow: $middleshadowing;
}
.fonct-btn button i
{
    color: $paragraph-color;
    margin-right: 20px;
}
footer
{
    width: 100%;
    background-color: $paragraph-color;
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.containerFooter
{
    width: 85%;
    padding: 15px 0 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.containerFooter h1
{
    font-family: 'Shrikhand';
    color: white;
    font-weight: 200;
    font-size: 20px;
}
.containerFooter a
{
    color: white;
    font-family: 'Roboto';
    font-weight: 600;
    margin-top: 5px;
}
.containerFooter a i
{
    margin-right: 8px;
}