$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$background-color: #EAEAEA;
$paragraph-color: #353535;
$hover-background: #F5EDFF;
$surligner-and-background-animations: #99E2D0;
$alternative-background: #F6F6F6;
$background-listers: #FFFFFF;
$background-button: linear-gradient(180deg, $secondary-color, $primary-color);
$reverse-background-button: linear-gradient(180deg, $primary-color, $secondary-color);
$softshadowing: 0 0 8px 0 rgba(0,0,0,0.2);
$middleshadowing: 1px 10px 18px 0px rgba(0,0,0,0.25);
$hardshadowing: 1px 3px 20px 0px rgba(0,0,0,0.5);
$check-animation-translation: 80px;
$check-animation-translation-reverse: 0px;
$duration-transition-check: 0.35s;

html 
{
  scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
    margin: auto;
    background: $background-color;
}
main
{
    
}
header
{
    width: 100%;
    background: white;
    box-shadow: $softshadowing;
}
.loading-screen
{
    background: $reverse-background-button;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: dispear 3s forwards ease-in-out, remover 0.1s 3s forwards ease-in-out;
    opacity: 1;
    .plate {
        background: $paragraph-color;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 3px solid $paragraph-color;
        animation: rotation 3s infinite ease-in;
        .plate-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            background: $paragraph-color;
            overflow: hidden;
            border: 10px solid $alternative-background;
            .plate-inner-center
            {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    position: absolute;
                    color: white;
                    font-size: 70px;
                    z-index: 7;
                }
            }
        }
    }
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes dispear {
    from {
        opacity: 1;
    }
  to {
      opacity: 0;
    }
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
  to {
    transform: rotate(800deg);
    }
}
@keyframes slider-appear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes remover {
    from {
        
    }
    to {
        height: 0px;
    }
}
.topNav
{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 10px 0;
}
.backArrow
{
    position: absolute;
    left: 5%;
    a {
        text-decoration: none;
        color: $paragraph-color
    }
    i
    {
        font-size: 21px;
    }
}
.location
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 1000;
    font-size: 20px;
    color: $paragraph-color;
    i
    {
        margin-right: 8px;
    }
}
.exploration
{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $alternative-background;
    padding: 50px 0;
}
.illustration
{
    position: relative;
    z-index: -1;
    display: flex;
    height: 350px;
    img
    {   
        position: absolute;
        display: flex;
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}
.coeurs{
    position: relative;
    i {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
        &:first-child
        {
            font-size: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.5;
            height: 28px;
            width: 28px;
            transform-origin: center bottom;
        }
        &:nth-child(2)
        {
            position: absolute;
            top: 0;
            opacity: 0;
            -webkit-background-clip: text;
            color: transparent;
            background-image : linear-gradient(180deg,$primary-color,$secondary-color);
            font-size: 28px;
        }
        &:active
                {
                    cursor: pointer;
                    font-weight: 800;
                    background: $reverse-background-button;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: 0.2s ease-in coeur;
                    animation-fill-mode: forwards;
                }
    }
}
@keyframes coeur{
    0%{
        opacity: 0;
        transform:scale(0)
    }
    100%{
        opacity: 1;
        transform:scale(1)
    }
}
.mainContainerMenu
{
    border-radius: 35px 35px 0 0;
    margin-top: -50px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $alternative-background;
    z-index: 0;
    overflow: hidden;
    .mainContainerMenuInner
    {
        width: 90%;
        .titleContainerMenu
        {
            padding-top: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h1
            {
                flex-grow: 1;
                font-weight: 0;
                font-family: 'Shrikhand';
                font-size: 26px;
            }
        }
        .firstPartContainerMenu{
            h2
            {
                text-transform: uppercase;
                font-family: 'Roboto';
                font-weight: bold;
                color: $paragraph-color;
                font-size: 15px;
                margin: 0;
            }
            .greenLine
            {
                margin-top: 5px;
                width: 40px;
                height: 3px;
                background-color: $surligner-and-background-animations;
            }
            .partOneContainerMenu{
            }
            .partTwoContainerMenu
            {
                margin-top: 35px;
            }
            .partThreeContainerMenu
            {
                margin: 35px 0 40px 0;
            }
        }
    }
}

.move1 {
    animation: slider-appear 2s forwards ease-out;
}
.move2 {
    animation: slider-appear 2s 0.25s forwards ease-out;
}
.move3 {
    animation: slider-appear 2s 0.5s forwards ease-out;
}
.move4 {
    animation: slider-appear 2s 0.75s forwards ease-out;
}

.menuLister
{
    background: $background-listers;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: $softshadowing;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
    opacity: 0;
    overflow: hidden;
    width: 100%;
    height: 65px;
    transition-duration: 0.7s;
    &:hover {
        cursor: pointer;
    }
    &:active .check
    {
        right: 0;
        i {
            transform: rotate(-360deg);
        }
    }
    &:active a
    {
        margin-right: 50px;
    }
    &:active .prix
    {
        margin-right: 50px;
    }
    b {
        color: black;
    }
    a
    {
        font-weight: bold;
        margin: 30px 15px 0 0;
        transition: $duration-transition-check linear;
    }
    .check
    {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -80px;
        top: 0;
        background-color: $third-color;
        height: 100%;
        width: 80px;
        margin: 0;
        color: white;
        font-size: 20px;
        transition: right $duration-transition-check linear;
        i {
            transition: transform $duration-transition-check linear;
        }
    }
    .prix {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-top: 0;
        transition: margin $duration-transition-check linear;
       }
    .menuListerInner
    {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 10px;
        margin-top: 0;
    }
}

.containerButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 80px 0;
    button
    {
        color: white;
        background: $background-button;
        border-radius: 30px;
        padding: 12px 45px;
        border: none;
        box-shadow: $softshadowing;
        &:hover {
            box-shadow: $hardshadowing;
            opacity: 0.9;
            cursor: pointer;
        }
    }
}
.container
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    h1
    {
        font-family: 'Roboto';
        font-weight: 1000;
        color: black;
        margin-top: 0;
        padding: 0 25px;
    }
    p
    {
        margin-top: 0;
        color: $paragraph-color;
        font-size: 20px;
        font-family: 'Roboto';
        font-weight: 1000;
    }
    button
    {
        width: 70%;
        border-radius: 25px;
        border: none;
        background: $background-button;
        color: white;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 16px;
        box-shadow: $middleshadowing;
        padding: 17px 5px;
        letter-spacing: 1px;
        margin-top: 10px;
        &:hover {
            box-shadow: $hardshadowing;
            opacity: 0.9;
        }
    }
}

.fonctionnement
{
    width: 100%;
    margin-top: 0;
    background: white;
    display: flex;
    justify-content: center;
}
.container-fonct
{
    .fonct-btn
    {
        position: relative;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        a
        {
            position: absolute;
            top: 32%;
            left: -20px;
            color: white;
            background-color: $primary-color;
            border-radius: 50%;
            padding: 5px 10px;
            font-family: 'Roboto';
            font-weight: bold
        }
        button
        {
            width: 100%;
            border: none;
            font-family: 'Roboto';
            font-weight: bolder;
            font-size: 20px;
            border-radius: 25px;
            height: 75px;
            color: black;
            box-shadow: $middleshadowing;
            transition-duration: 0.3s;
            i
            {
                color: $paragraph-color;
                margin-right: 20px;
            }
            &:hover {
                background: $hover-background;
                i {
                    color: $primary-color;
                    transition-duration: 0.3s;
                }
            }
        }

    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 0;
    padding: 0 0 70px 0;
    :nth-child(3)
    {
        margin-top: 40px;
    }
    :nth-child(4)
    {
        margin-top: 40px;
    }
    h1
    {
        font-size: 25px;
        font-weight: 900;
        font-family: 'Roboto';
        padding: 15px 0;
    }
}
.restaurants
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0 70px 0;
    .containerRestaurants
    {
        width: 90%;
        h1
        {
            font-family: 'Roboto';
            font-weight: bold;
        }
        .restauCards
        {
            position: relative;
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
            margin-top: 25px;
            box-shadow: $middleshadowing;
            transition-duration: 0.5s;
            &:hover
            {
                transform: scale(1.02);
                transition-duration: 0.5s;
            }
            .new
            {
                position: absolute;
                background-color: #99E2D0;
                color: #008766;
                padding: 10px;
                top: 5%;
                right: 5%;
                font-family: 'Roboto';
                font-weight: bold;
            }
            img
            {
                width: 100%;
                object-fit: cover;
                height: 210px;
                margin: 0;
                padding: 0;
            }
            .restauCardsDescription
            {
                width: 100%;
                margin-top: -5px;
                background-color: white;
                padding: 10px 0 0 0;
                font-family: 'Roboto';
                display: flex;
                justify-content: center;
                .restauSizer
                {
                    width: 95%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .restauCardsDescriptionInner
                    {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        flex-grow: 1;
                        margin-top: 0;
                        background-color: white;
                        h2
                        {
                            font-size: 18px;
                            margin: 0;
                            font-weight: bold;
                        }
                        p
                        {
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}
footer
{
    width: 100%;
    background-color: $paragraph-color;
    display: flex;
    justify-content: center;
    z-index: 8;
    margin-top: auto;
    .containerFooter
    {
        width: 90%;
        padding: 15px 0 30px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    h1
    {
        font-family: 'Shrikhand';
        color: white;
        font-weight: 200;
        font-size: 20px;
    }
    a
    {
        color: white;
        font-family: 'Roboto';
        font-weight: 600;
        margin-top: 5px;
        i
        {
            margin-right: 8px;
        }
    }
    :nth-child(5)
    {
        text-decoration: none;
    }
}

@media screen and (min-width: 1024px) {
    .restaurants {
        width: 100%;
        .containerRestaurants
        {
            .containerRestaurants-inner {
                display: flex;
                flex-flow: wrap row;
                justify-content: space-between;
                .restauCards {
                    width: 49%;
                }
                h1 {
                    flex-grow: 1;
                }
            }
        }
    }
    main {

        .mainContainerMenu {
            
            .mainContainerMenuInner {
                width: 70%;
            }
        }
    }
}