$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$background-color: #EAEAEA;
$paragraph-color: #353535;
$surligner-and-background-animations: #99E2D0;
$alternative-background: #F6F6F6;
$background-listers: #FFFFFF;
$background-button: linear-gradient(180deg, $secondary-color 0%, $primary-color 100%);
$reverse-background-button: linear-gradient(180deg, $primary-color 0%, $secondary-color 100%);
$softshadowing: 0 0 8px 0 rgba(0,0,0,0.2);
$middleshadowing: 1px 10px 18px 0px rgba(0,0,0,0.25);

.coloredPrimary
{
    color: $primary-color;
}
html 
{
  scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
    margin: auto;
    background: $background-color;
}
header 
{
    width: 100%;
    background: white;
    box-shadow: $softshadowing;
}
.topNav
{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 10px 0;
}
.backArrow
{
    position: absolute;
    left: 5%;
}
.backArrow i
{
    font-size: 21px;
}
.location
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 1000;
    font-size: 20px;
    color: $paragraph-color;
}
.location i
{
    margin-right: 8px;
}
.exploration
{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $alternative-background;
    padding: 50px 0;
}
.illustration
{

}
.illustration img
{
    width: 100%;
}
.mainContainerMenu
{
    border-radius: 35px 35px 0 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $alternative-background;
}
.mainContainerMenuInner
{
    width: 90%;
}
.titleContainerMenu
{
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titleContainerMenu h1
{
    flex-grow: 1;
    font-weight: 0;
    font-family: 'Shrikhand';
    font-size: 26px;
}
.titleContainerMenu i
{
    font-size: 25px;
}
.titleContainerMenu i:hover
{
    cursor: pointer;
    font-weight: 800;
    background: $reverse-background-button;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.partOneContainerMenu
{

}
.partTwoContainerMenu
{
    margin-top: 35px;
}
.partThreeContainerMenu
{
    margin: 35px 0 40px 0;
}
.firstPartContainerMenu
{

}
.firstPartContainerMenu h2
{
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: bold;
    color: $paragraph-color;
    font-size: 15px;
    margin: 0;
}
.firstPartContainerMenu .greenLine
{
    margin-top: 5px;
    width: 40px;
    height: 3px;
    background-color: $surligner-and-background-animations;
}
.menuLister
{
    background: $background-listers;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: $softshadowing;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto';
}
.menuLister h3
{
    margin: 0;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}
.menuLister p
{
    margin: 0;
}
.menuLister a
{
    margin: 0;
    font-weight: bold;
}
.menuListerInner
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.containerButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 80px 0;
}
.containerButton button
{
    color: white;
    background: $background-button;
    border-radius: 30px;
    padding: 12px 45px;
    border: none;
    box-shadow: $softshadowing;
}
.container
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.container h1
{
    font-family: 'Roboto';
    font-weight: 1000;
    color: black;
    margin-top: 0;
    padding: 0 25px;
}
.container p
{
    margin-top: 0;
    color: $paragraph-color;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 1000;
}
.container button
{
    width: 70%;
    border-radius: 25px;
    border: none;
    background: $background-button;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16px;
    box-shadow: $middleshadowing;
    padding: 17px 5px;
    letter-spacing: 1px;
    margin-top: 10px;
}
.fonctionnement
{
    width: 100%;
    margin-top: 0;
    background: white;
    display: flex;
    justify-content: center;
}
.container-fonct
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 0;
    padding: 0 0 70px 0;
}
.container-fonct h1
{
    font-size: 25px;
    font-weight: 900;
    font-family: 'Roboto';
    padding: 15px 0;
}
.fonct-btn
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.fonct-btn:nth-child(3)
{
    margin-top: 40px;
}
.fonct-btn:nth-child(4)
{
    margin-top: 40px;
}
.fonct-btn a
{
    position: absolute;
    top: 32%;
    left: 0%;
    color: white;
    background-color: $primary-color;
    border-radius: 50%;
    padding: 5px 10px;
    font-family: 'Roboto';
    font-weight: bold
}
.fonct-btn button
{
    width: 93%;
    border: none;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 20px;
    border-radius: 25px;
    height: 75px;
    color: black;
    box-shadow: $middleshadowing;
}
.fonct-btn button i
{
    color: $paragraph-color;
    margin-right: 20px;
}
.restaurants
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0 70px 0;
}
.containerRestaurants
{
    width: 90%;
}
.containerRestaurants h1
{
    font-family: 'Roboto';
    font-weight: bold;
}
.restauCards
{
    position: relative;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 25px;
    box-shadow: $middleshadowing;
}
.restauCards a
{
    position: absolute;
    background-color: #99E2D0;
    color: #008766;
    padding: 10px;
    top: 5%;
    right: 5%;
    font-family: 'Roboto';
    font-weight: bold;
}
.restauCards img
{
    width: 100%;
    object-fit: cover;
    height: 210px;
    margin: 0;
    padding: 0;
}
.restauCardsDescription
{
    width: 100%;
    margin: 0;
    background-color: white;
    padding: 10px 0 0 0;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
}
.restauCardsDescription i
{
    font-size: 35px;
    font-weight: 0;
}
.restauCardsDescription i:hover
{
    cursor: pointer;
    font-weight: 800;
    background: $reverse-background-button;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.restauSizer
{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.restauCardsDescriptionInner
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 0;
    background-color: white;
}
.restauCardsDescriptionInner h2
{
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}
.restauCardsDescriptionInner p
{
    margin-top: 5px;
}
footer
{
    width: 100%;
    background-color: $paragraph-color;
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.containerFooter
{
    width: 90%;
    padding: 15px 0 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.containerFooter h1
{
    font-family: 'Shrikhand';
    color: white;
    font-weight: 200;
    font-size: 20px;
}
.containerFooter a
{
    color: white;
    font-family: 'Roboto';
    font-weight: 600;
    margin-top: 5px;
}
.containerFooter a i
{
    margin-right: 8px;
}