.coloredPrimary {
  color: #9356DC;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  margin: auto;
  background: #EAEAEA;
}

main {
  opacity: 0;
  animation: appear 1s 1s forwards ease-in-out;
}

header {
  opacity: 0;
  animation: appear 1s 1s forwards ease-in-out;
}

.loading-screen {
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: dispear 3s forwards ease-in-out, remover 0.1s 3s forwards ease-in-out;
  opacity: 1;
}
.loading-screen .plate {
  background: #353535;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid #353535;
  animation: rotation 3s infinite ease-in;
}
.loading-screen .plate .plate-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #353535;
  overflow: hidden;
  border: 10px solid #F6F6F6;
}
.loading-screen .plate .plate-inner .plate-inner-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-screen .plate .plate-inner .plate-inner-center i {
  position: absolute;
  color: white;
  font-size: 70px;
  z-index: 7;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes dispear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(800deg);
  }
}
@keyframes slider-appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes remover {
  to {
    height: 0px;
  }
}
header {
  width: 100%;
  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.topNav {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 10px 0;
}

.backArrow {
  position: absolute;
  left: 5%;
}
.backArrow a {
  text-decoration: none;
  color: #353535;
}
.backArrow i {
  font-size: 21px;
}

.location {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-family: "Roboto";
  font-weight: 1000;
  font-size: 20px;
  color: #353535;
}
.location i {
  margin-right: 8px;
}

.exploration {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #F6F6F6;
  padding: 50px 0;
}

.illustration {
  position: relative;
  z-index: -1;
  display: flex;
  height: 350px;
}
.illustration img {
  position: absolute;
  display: flex;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.coeurs {
  position: relative;
}
.coeurs i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.coeurs i:hover {
  cursor: pointer;
}
.coeurs i:first-child {
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  height: 28px;
  width: 28px;
  transform-origin: center bottom;
}
.coeurs i:nth-child(2) {
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(180deg, #9356DC, #FF79DA);
  font-size: 28px;
}
.coeurs i:active {
  cursor: pointer;
  font-weight: 800;
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 0.2s ease-in coeur;
  animation-fill-mode: forwards;
}

@keyframes coeur {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.mainContainerMenu {
  border-radius: 35px 35px 0 0;
  margin-top: -50px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  z-index: 0;
  overflow: hidden;
}
.mainContainerMenu .mainContainerMenuInner {
  width: 90%;
}
.mainContainerMenu .mainContainerMenuInner .titleContainerMenu {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mainContainerMenu .mainContainerMenuInner .titleContainerMenu h1 {
  flex-grow: 1;
  font-weight: 0;
  font-family: "Shrikhand";
  font-size: 26px;
}
.mainContainerMenu .mainContainerMenuInner .firstPartContainerMenu h2 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: bold;
  color: #353535;
  font-size: 15px;
  margin: 0;
}
.mainContainerMenu .mainContainerMenuInner .firstPartContainerMenu .greenLine {
  margin-top: 5px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.mainContainerMenu .mainContainerMenuInner .firstPartContainerMenu .partTwoContainerMenu {
  margin-top: 35px;
}
.mainContainerMenu .mainContainerMenuInner .firstPartContainerMenu .partThreeContainerMenu {
  margin: 35px 0 40px 0;
}

.move1 {
  animation: slider-appear 2s forwards ease-out;
}

.move2 {
  animation: slider-appear 2s 0.25s forwards ease-out;
}

.move3 {
  animation: slider-appear 2s 0.5s forwards ease-out;
}

.move4 {
  animation: slider-appear 2s 0.75s forwards ease-out;
}

.menuLister {
  background: #FFFFFF;
  margin-top: 15px;
  border-radius: 15px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Roboto";
  opacity: 0;
  overflow: hidden;
  padding-left: 10px;
  width: 100%;
}
.menuLister:hover {
  cursor: pointer;
}
.menuLister:active .check {
  animation: slider-check-in 1s forwards ease-out;
}
.menuLister:active .check i {
  animation: rotation-check 1s forwards ease-in-out;
}
.menuLister:active a {
  animation: slider-check-in 1s forwards ease-out;
}
.menuLister h3 {
  margin: 0;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menuLister p {
  margin: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menuLister a {
  font-weight: bold;
  margin: 30px 15px 0 0;
  transform: translateX(80px);
  animation: slider-check-out 1.5s forwards ease-in-out;
}
.menuLister .check {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  background-color: #99E2D0;
  height: 75px;
  width: 80px;
  margin: 0;
  color: white;
  font-size: 20px;
  transform: translateX(80px);
  animation: slider-check-out 1.5s forwards ease-in-out;
}
.menuLister .menuListerInner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@keyframes rotation-check {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slider-check-in {
  from {
    transform: translateX(80px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes slider-check-out {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(80px);
  }
}
.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 80px 0;
}
.containerButton button {
  color: white;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  border-radius: 30px;
  padding: 12px 45px;
  border: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.containerButton button:hover {
  box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.container h1 {
  font-family: "Roboto";
  font-weight: 1000;
  color: black;
  margin-top: 0;
  padding: 0 25px;
}
.container p {
  margin-top: 0;
  color: #353535;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 1000;
}
.container button {
  width: 70%;
  border-radius: 25px;
  border: none;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  box-shadow: 1px 10px 18px 0px rgba(0, 0, 0, 0.25);
  padding: 17px 5px;
  letter-spacing: 1px;
  margin-top: 10px;
}
.container button:hover {
  box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

.fonctionnement {
  width: 100%;
  margin-top: 0;
  background: white;
  display: flex;
  justify-content: center;
}

.container-fonct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-top: 0;
  padding: 0 0 70px 0;
}
.container-fonct :nth-child(3) {
  margin-top: 40px;
}
.container-fonct :nth-child(4) {
  margin-top: 40px;
}
.container-fonct h1 {
  font-size: 25px;
  font-weight: 900;
  font-family: "Roboto";
  padding: 15px 0;
}

.fonct-btn {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
.fonct-btn a {
  position: absolute;
  top: 32%;
  left: 0%;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 5px 10px;
  font-family: "Roboto";
  font-weight: bold;
}
.fonct-btn button {
  width: 93%;
  border: none;
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 20px;
  border-radius: 25px;
  height: 75px;
  color: black;
  box-shadow: 1px 10px 18px 0px rgba(0, 0, 0, 0.25);
}
.fonct-btn button i {
  color: #353535;
  margin-right: 20px;
}

.restauCards:hover {
  transform: scale(1.02);
}

.restaurants {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0 70px 0;
}
.restaurants .containerRestaurants {
  width: 90%;
}
.restaurants .containerRestaurants h1 {
  font-family: "Roboto";
  font-weight: bold;
}
.restaurants .containerRestaurants .restauCards {
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 25px;
  box-shadow: 1px 10px 18px 0px rgba(0, 0, 0, 0.25);
}
.restaurants .containerRestaurants .restauCards .new {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  padding: 10px;
  top: 5%;
  right: 5%;
  font-family: "Roboto";
  font-weight: bold;
}
.restaurants .containerRestaurants .restauCards img {
  width: 100%;
  object-fit: cover;
  height: 210px;
  margin: 0;
  padding: 0;
}
.restaurants .containerRestaurants .restauCards .restauCardsDescription {
  width: 100%;
  margin-top: -5px;
  background-color: white;
  padding: 10px 0 0 0;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
}
.restaurants .containerRestaurants .restauCards .restauCardsDescription .restauSizer {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.restaurants .containerRestaurants .restauCards .restauCardsDescription .restauSizer .restauCardsDescriptionInner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 0;
  background-color: white;
}
.restaurants .containerRestaurants .restauCards .restauCardsDescription .restauSizer .restauCardsDescriptionInner h2 {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}
.restaurants .containerRestaurants .restauCards .restauCardsDescription .restauSizer .restauCardsDescriptionInner p {
  margin-top: 5px;
}

footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  z-index: 8;
  margin-top: auto;
}
footer .containerFooter {
  width: 90%;
  padding: 15px 0 30px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer h1 {
  font-family: "Shrikhand";
  color: white;
  font-weight: 200;
  font-size: 20px;
}
footer a {
  color: white;
  font-family: "Roboto";
  font-weight: 600;
  margin-top: 5px;
}
footer a i {
  margin-right: 8px;
}
footer :nth-child(5) {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
